:root {
    --gray: #aaa;
    --light_gray: #ccc;
    --white: #ffffff;
    --light_blue: #add8e6;
    --dark_blue: #5f5fce;
    --red: #e8493a;
    --dark_gray: #5d6169;
    --off_white: #ffffe6;
    --light_yellow: #ffffe0;
    --dark_green: #228a39;
    --light_black: #323232;
    --yellow: #f7d000;
    --light_orange: #e6970e;
    --sky_blue: #00d7f7;
    --dark_sky_blue: #04c0f5;
    --light_pink: #f60180;
    --dark_pink: #f7014f;
    --light_purple: #da00f7;
    --dark_purple: #b501f6;
}
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.red-text {
    color: var(--red);
}
.hidden {
    display: none !important;
}
.clickable {
    cursor: pointer;
}
.no-pointer {
    cursor: auto !important;
}
.button {
    padding: 5px 7px;
    border: 1px solid var(--light_gray);
    border-radius: 22%;
}
.button:hover {
    cursor: pointer;
}
.zero-opacity {
    opacity: 0;
}

ul {
    position: absolute;
    display: none;
    z-index: 1;
}
ul li {
    list-style-type: none;
    border: 1px solid var(--dark_gray);
    background-color: var(--light_gray);
    font-size: 16px;
    padding: 3px 15px;
}
ul:hover {
    cursor: pointer;
}

/* Based on https://www.youtube.com/watch?v=9huP_P4n0Bs&list=PLNCevxogE3fjKtbhkp-McVz-kHWIXm5yB&index=5 */
.loading-spinner-container {
    border: 2px solid var(--white);
    height: 350px;
    width: 350px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    animation: spin 1.5s infinite;
    margin: 100px 0px;
}
@keyframes spin {
    100% {
        transform: translate(-50%, 0%) rotate(360deg);
    }
}
.loading-spinner-container > div {
    position: absolute;
    border-radius: 50%;
}
.loading-spinner-container > *:nth-child(odd) {
    height: 75px;
    width: 75px;
}
.loading-spinner-container > *:nth-child(even) {
    height: 45px;
    width: 45px;
}
.loading-spinner-container > div:first-child {
    background-image: linear-gradient(45deg, var(--yellow), var(--light_orange));
    top: 100px;
    left: 100px;
    box-shadow: 0 0 3px var(--yellow);
    animation: firstMove 3s infinite;
}
@keyframes firstMove {
    50% {
        transform: translate(-30px, -30px) scale(0.3);
    }
}
.loading-spinner-container > div:nth-child(2) {
    background-image: linear-gradient(45deg, var(--sky_blue), var(--dark_sky_blue));
    top: 105px;
    right: 110px;
    box-shadow: 0 0 2px var(--sky_blue);
    animation: secondMove 3s infinite;
}
@keyframes secondMove {
    50% {
        transform: translate(15px, -20px) scale(0.55);
    }
}
.loading-spinner-container > div:nth-child(3) {
    background-image: linear-gradient(45deg, var(--light_pink), var(--dark_pink));
    bottom: 100px;
    right: 100px;
    box-shadow: 0 0 3px var(--light_pink);
    animation: thirdMove 3s infinite;
}
@keyframes thirdMove {
    50% {
        transform: translate(30px, 30px) scale(0.3);
    }
}
.loading-spinner-container > div:last-child {
    background-image: linear-gradient(45deg, var(--light_purple), var(--dark_purple));
    bottom: 105px;
    left: 110px;
    animation: fourthMove 3s infinite;
}
@keyframes fourthMove {
    50% {
        transform: translate(-15px, 20px) scale(0.55);
    }
}

.modal-menu {
    position: fixed;
    top: 12.5%; left: 25%;
    width: 50%;
    max-height: 75%;
    flex-grow: 1;
    padding: 1% 2% 4% 2%;
}
.confirmation-menu {
    position: fixed;
    top: 12.5%; left: 25%;
    width: 50%;
    height: 25%;
    max-height: 800px;
    padding: 1% 2%;
    background-color: var(--white);
    border: 2px solid var(--light_gray);
}
.modal-menu.open {
    background-color: var(--white);
    border: 2px solid var(--light_gray);
}
.modal-menu.closed {
    display: none;
}
.modal-menu .modal-buttons,
.confirmation-menu .modal-buttons {
    position: absolute;
    right: 0; bottom: 1%;
    margin-right: 3%;
    display: flex;
    flex-direction: row;
    min-width: 10%;
    max-width: 25%;
    height: auto;
    gap: 10px;
}
.modal-menu .modal-buttons > *,
.confirmation-menu .modal-buttons > * {
    font-size: 15px;
    font-weight: 600;
    border: 1px solid var(--light_gray);
}
.modal-menu .modal-buttons #save_button {
    color: var(--dark_blue);
}
.modal-menu .field-row,
.confirmation-menu .field-row {
    width: 100%;
}
.modal-menu .field-row > *,
.confirmation-menu .field-row {
    width: 100%;
    padding: 1%;
    text-overflow: ellipsis;
    white-space: wrap;
    border-radius: 2px;
}
.modal-menu .field-row .modal-error {
    border: 1px solid var(--red);
    background-color: var(--light_yellow);
}
.modal-menu .field-row label {
    display: block;
    margin-bottom: 2px;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--dark_gray);
}
.modal-menu.field-row input {
    text-wrap: wrap;
}
.modal-menu .field-row textarea {
    height: auto;
    min-height: 200px;
    resize: none;
}
.empty-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 25px;
    word-wrap: break-word;
}
.empty-view > * {
    margin-bottom: 10px;
}
.empty-view .title {
    font-size: 24px;
    font-weight: 600;
}
.empty-view .message {
    font-size: 18px;
}
.empty-view .empty-view-new {
    font-size: 16px;
    color: var(--light_blue);
    text-decoration: underline;
    cursor: pointer;
}

#email_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px 0px 5px;
}
#email_nav #breadcrumbs {
    padding-top: 1%;
    padding-left: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#email_nav #search_bar {
    display: flex;
    align-items: center;
}
#email_nav #search_bar input {
    width: 150px;
    padding: 5px;
    border: 2px solid var(--light_gray);
    border-radius: 3px;
    outline: none;
}
#email_nav #search_bar input:focus {
    border-color: var(--light_blue);
    box-shadow: 0 0 5px var(--light_gray);
}

#search_and_tabs {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
#search_and_tabs #tabs {
    display: flex;
    margin: auto;
    gap: 20px;
}
#search_and_tabs #tabs .active {
    background-color: var(--dark_gray);
    color: var(--white);
}

#email_nav,
#email_container {
    margin: auto;
    width: 80%;
}
#email_container {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    max-height: 85%;
}

#pagination_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 100px;
}
#pagination_container > div:hover {
    cursor: pointer;
}
#pagination_container input {
    text-align: center;
    width: 22px;
}
#pagination_container input::-webkit-outer-spin-button,
#pagination_container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#email_header {
    font-weight: bold;
}
#email_header .column:hover {
    cursor: pointer;
}
#email_header .column span {
    display: inline-block;
    font-size: 10px;
}
#email_table {
    border: 1px solid var(--light_gray);
    height: 100%;
    flex-grow: 1;
    width: auto;
    min-width: 50%;
    overflow-y: auto;
}
#email_container #email_preview {
    padding: 0% 2% 2% 2%;
    min-width: 50%;
    margin: 0% 1%;
    width: 100%;
    overflow-y: auto;
}
#email_container #email_preview .email-preview-action-buttons {
    position: sticky;
    top: 0px;
    height: auto;
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    gap: 10px;
}
#email_container #email_preview .email-preview-action-buttons > * {
    width: 40px;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--light_gray);
    padding: 1px 5px;
    text-align: center;
}
#close_preview_button {
    font-size: 18px;
}

.table-row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--light_gray);
}
.table-row.dragging {
    opacity: 0.5;
    background-color: var(--light_gray);
}
.table-row.over {
    background-color: var(--off_white);
}
.table-row:not(#email_header .table-row):hover {
    cursor: pointer;
    background-color: var(--light_blue);
}
.table-row[data-multi-selected="true"] {
    background-color: var(--light_yellow);
}
.table-row.previewing {
    background-color: var(--light_blue);
}

.column {
    padding: 10px;
    min-height: 15px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.column:not(:last-child) {
    margin-right: 10px;
    border-right: 1px solid var(--light_gray);
}
.column span {
    overflow: visible;
}
.read {
    min-width: 70px;
    max-width: 70px;
    text-align: center;
}
.sender {
    min-width: 75px;
    width: 10%;
}
.recipients {
    min-width: 90px;
    width: 20%;
}
.subject {
    min-width: 70px;
    width: 20%;
}
.message {
    width: 67%;
}

#email_row_dropdown[data-is_read="true"][data-multi-selected='1'] #mark_read_option,
#email_row_dropdown[data-is_read="true"][data-multi-selected='0'] #mark_read_option,
#email_row_dropdown[data-is_read="false"][data-multi-selected='1'] #mark_unread_option,
#email_row_dropdown[data-is_read="false"][data-multi-selected='0'] #mark_unread_option,
#email_row_dropdown:not([data-multi-selected='1']):not([data-multi-selected='0']) li[data-action="new_email"],
#email_row_dropdown:not([data-multi-selected='1']):not([data-multi-selected='0']) li[data-action="edit_email"],
#email_row_dropdown:not([data-multi-selected='1']):not([data-multi-selected='0']) li[data-action="create_folder"],
#email_row_dropdown:not([data-multi-selected='1']):not([data-multi-selected='0']) li[data-action="reply"] {
    display: none;
}

#ignite_toast_container {
    position: absolute;
    right: 2%;
    bottom: 3%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#ignite_toast_container .toast {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 5px 15px;
    background-color: var(--light_black);
    color: var(--white);
    height: 40px;
    min-width: 100px;
    transition: opacity 0.5s;
}
